################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TennisKata.Tests/.vs/TennisKata.Tests/v16
